.about {
  display: grid;
  grid-template-columns: 100%;
  row-gap: $mb-2;
  text-align: center;
  grid-template-areas:
    "bioimage"
    "biotext"
    "skills"
    "resume";
  margin-left: $mb-2;
  margin-right: $mb-2;
  @media (min-width: 768px) {
    grid-template-areas:
      "biotext bioimage"
      "skills bioimage"
      "skills resume";
    grid-template-columns: 1fr max-content;
    column-gap: $mb-6;
    max-width: 1024px;
    padding: 0 $mb-6;
    margin: 0 auto;
    text-align: initial;
  }

  // Bio Image
  &__img {
    grid-area: bioimage;
    width: 175px;
    justify-self: center;
    margin-bottom: $mb-1;
    @media (min-width: 768px) {
      width: 250px;
      align-self: center;
    }
  }

  // Bio Text
  &__text {
    grid-area: biotext;
    &-name {
      color: $primary-color;
    }
    &-profession h4 {
      margin: $mb-1 0;
      letter-spacing: 1px;
    }
    &-summary {
      @media (min-width: 768px) {
        line-height: $mb-6;
      }
    }
  }

  // Skills
  &__skills {
    grid-area: skills;

    &-head:first-child {
      margin-top: 0;
    }
    &-head {
      color: $primary-color;
      margin-top: $mb-2;
      margin-bottom: $mb-1;
      letter-spacing: 2px;
      @media (min-width: 768px) {
        line-height: $mb-4;
      }
    }

    &-name {
      display: inline-block;
      font-size: $small-font-size-m;
      background-color: var(--container-color);
      margin: $mb-1;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      cursor: default;
      @media (min-width: 768px) {
        font-size: $small-font-size;
        margin-right: $mb-3;
        margin-left: 0;
      }
      &:hover {
        transition: 0.3s ease-out;
        background-color: $primary-color;
        color: var(--body-color);
      }
    }
  }

  // View Resume Button
  &__resumebtn {
    grid-area: resume;
    margin-top: $mb-2;
    justify-self: center;
    a {
      display: inline-block;
      color: var(--title-color);
      // border: 3px solid $primary-color;
      box-shadow: 0 0 5px 3px $primary-color;
      padding: 7px;
      border-radius: 30px;
      @media (min-width: 768px) {
        padding: 15px;
      }
      &:hover {
        transition: 0.3s ease-out;
        // background-color: $primary-color;
        transform: scale(0.98);
        box-shadow: 0 0 0 3px $primary-color;
      }
    }
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
