/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --title-color: #161212;
  --text-color: #5b5757;
  --body-color: #fefbfb;
  --container-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2cc0ff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px #fff;
          box-shadow: inset 0 0 2px #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.94rem;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: overlay;
}

body.--dark-theme {
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #0f111a;
  --container-color: #3b4252;
}

@media (min-width: 968px) {
  body {
    font-size: 1rem;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--title-color);
}

h1 {
  font-size: 2rem;
}

@media (min-width: 968px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.25rem;
}

@media (min-width: 968px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.125rem;
}

@media (min-width: 968px) {
  h3 {
    font-size: 1.25rem;
  }
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  padding-top: 8vh;
}

section .section__title {
  position: relative;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 968px) {
  section .section__title {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}

section .section__title h2 {
  display: inline-block;
  color: var(--title-color);
  position: relative;
}

section .section__title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2cc0ff;
  width: 70%;
  height: 0.2rem;
  z-index: 1;
  border-radius: 30%;
}

footer {
  background-color: var(--container-color);
  text-align: center;
  margin-top: 3rem;
}

footer i {
  color: var(--text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer i:hover {
  color: var(--title-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  top: 0vh;
  height: 8vh;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 8vh;
  z-index: -1;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

@supports not ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .nav::before {
    background-color: var(--body-color);
    opacity: 0.9;
  }
}

.nav__logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  cursor: default;
  color: var(--title-color);
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .nav__logo {
    margin-left: 3rem;
  }
}

.nav__hamburger {
  display: block;
  cursor: pointer;
  margin-right: 1rem;
}

.nav__hamburger div {
  width: 20px;
  height: 2px;
  background-color: var(--title-color);
  margin: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__hamburger--active .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.nav__hamburger--active .line2 {
  opacity: 0;
}

.nav__hamburger--active .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}

.nav__links {
  position: absolute;
  right: 0px;
  top: 8vh;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 35px 35px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: 1;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

@supports not ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .nav__links::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    opacity: 0.9;
  }
}

@media (min-width: 768px) {
  .nav__links {
    margin: 0 3rem;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: transparent;
    top: 0vh;
    height: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-transition: none;
    transition: none;
  }
}

.nav__links--show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__links li {
  opacity: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .nav__links li {
    opacity: 1;
    margin-right: 2rem;
  }
}

.nav__links li a {
  text-decoration: none;
  color: var(--title-color);
  letter-spacing: 5px;
  font-weight: 600;
  margin-right: -5px;
  display: inline-block;
  position: relative;
  text-align: center;
  text-indent: 5px;
}

.nav__links li a.--active, .nav__links li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links li a.--active::after, .nav__links li a:hover::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 70%;
  height: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2cc0ff;
  border-radius: 20%;
  z-index: -1;
}

.nav__links .change-theme {
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav__links .change-theme {
    margin-right: -1rem;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--body-color);
  text-align: center;
  min-height: 100vh;
}

.home__bubble1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2cc0ff;
  -webkit-clip-path: circle(25% at left 0%);
          clip-path: circle(25% at left 0%);
  -webkit-animation: bubbleFadeTop 1.5s ease-in-out;
          animation: bubbleFadeTop 1.5s ease-in-out;
}

@-webkit-keyframes bubbleFadeTop {
  from {
    margin: -30%;
  }
  to {
    margin: 0%;
  }
}

@keyframes bubbleFadeTop {
  from {
    margin: -30%;
  }
  to {
    margin: 0%;
  }
}

.home__bubble2 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2cc0ff;
  -webkit-clip-path: circle(35% at right 100%);
          clip-path: circle(35% at right 100%);
  -webkit-animation: bubbleFadeBottom 1.5s ease-in-out;
          animation: bubbleFadeBottom 1.5s ease-in-out;
}

@-webkit-keyframes bubbleFadeBottom {
  from {
    margin: 30%;
  }
  to {
    margin: 0%;
  }
}

@keyframes bubbleFadeBottom {
  from {
    margin: 30%;
  }
  to {
    margin: 0%;
  }
}

.home__title {
  color: var(--title-color);
  font-weight: 700;
  z-index: 1;
}

.home__title__skills {
  color: #2cc0ff;
}

.home__scrollbtn {
  margin: 3rem;
  z-index: 1;
}

.home__scrollbtn a {
  display: inline-block;
  background-color: #2cc0ff;
  color: var(--body-color);
  font-size: 1.125rem;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 968px) {
  .home__scrollbtn a {
    font-size: 1.25rem;
  }
}

.home__scrollbtn a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: var(--title-color);
}

.home__social {
  position: absolute;
  margin-bottom: 1rem;
  right: 1rem;
  bottom: 0%;
  z-index: 0;
}

@media (min-width: 768px) {
  .home__social {
    margin-right: 3rem;
  }
}

.home__social a {
  display: inline-block;
  font-size: 2.1rem;
  color: var(--body-color);
  margin-left: 30px;
  line-height: 0px;
}

@media (min-width: 968px) {
  .home__social a {
    font-size: 2.5rem;
    margin-left: 50px;
  }
}

.home__social a:hover {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--title-color);
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 1rem;
  text-align: center;
      grid-template-areas: "bioimage" "biotext" "skills" "resume";
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .about {
        grid-template-areas: "biotext bioimage" "skills bioimage" "skills resume";
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    max-width: 1024px;
    padding: 0 3rem;
    margin: 0 auto;
    text-align: initial;
  }
}

.about__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  width: 175px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .about__img {
    width: 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: biotext;
}

.about__text-name {
  color: #2cc0ff;
}

.about__text-profession h4 {
  margin: 0.5rem 0;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .about__text-summary {
    line-height: 3rem;
  }
}

.about__skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
}

.about__skills-head:first-child {
  margin-top: 0;
}

.about__skills-head {
  color: #2cc0ff;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .about__skills-head {
    line-height: 2rem;
  }
}

.about__skills-name {
  display: inline-block;
  font-size: 0.813rem;
  background-color: var(--container-color);
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: default;
}

@media (min-width: 768px) {
  .about__skills-name {
    font-size: 0.875rem;
    margin-right: 1.5rem;
    margin-left: 0;
  }
}

.about__skills-name:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-color: #2cc0ff;
  color: var(--body-color);
}

.about__resumebtn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: resume;
  margin-top: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__resumebtn a {
  display: inline-block;
  color: var(--title-color);
  -webkit-box-shadow: 0 0 5px 3px #2cc0ff;
          box-shadow: 0 0 5px 3px #2cc0ff;
  padding: 7px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .about__resumebtn a {
    padding: 15px;
  }
}

.about__resumebtn a:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 0 0 3px #2cc0ff;
          box-shadow: 0 0 0 3px #2cc0ff;
}

@media (min-width: 768px) {
  .about__resumebtn {
    margin-top: 0;
  }
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .project {
    -ms-grid-columns: (minmax(400px, max-content))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 3rem;
    margin: 0 3rem;
  }
}

.project__img {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.project__img img {
  width: 350px;
  height: 350px;
}

@media (min-width: 768px) {
  .project__img img {
    width: 400px;
    height: 400px;
  }
}

.project__img:hover .project__desc {
  bottom: 0;
}

.project__desc {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: rgba(254, 251, 251, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@supports not ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .project__desc {
    background-color: #fefbfb;
    opacity: 0.9;
  }
}

.project__desc-summary {
  color: #161212;
  font-weight: 600;
}

.project__desc-links {
  font-size: 2rem;
  color: #161212;
}

.contact {
  display: -ms-grid;
  display: grid;
  text-align: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .contact {
    width: 1024px;
    gap: 3rem;
    margin: 0 auto;
  }
}

.contact__info {
  background-color: var(--container-color);
  border-radius: 1.5rem;
  padding: 0.5rem 0;
}

.contact__info li {
  padding: 0.5rem 0;
}

.contact__info a {
  color: var(--text-color);
}

.contact__form {
  background-color: var(--container-color);
  border-radius: 1.5rem;
  padding: 0.5rem 0;
}
/*# sourceMappingURL=style.css.map */