/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// ============ VARIABLES ==========
// COLORS
$primary-color: #2cc0ff;

// Light Mode variables
$body-color: #fefbfb;
$container-color: #f1f1f1;
$title-color: #161212;
$text-color: #5b5757;
// Dark Mode variables
$body-color-d: #0f111a;
$container-color-d: #3b4252;
$title-color-d: #f3f1f1;
$text-color-d: #d1c7c8;

// Fonts
$body-font: "Poppins", sans-serif;

$normal-font-size-m: 0.94rem;
$normal-font-size: 1rem;

$h1-font-size-m: 2rem;
$h1-font-size: 3rem;

$h2-font-size-m: 1.25rem;
$h2-font-size: 1.75rem;

$h3-font-size-m: 1.125rem;
$h3-font-size: 1.25rem;

$small-font-size-m: 0.813rem;
$small-font-size: 0.875rem;

// NAVBAR HEIGHT
$header-height: 8vh;

// Margins
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

// CSS VARIABLES for theme change.
:root {
  --title-color: #{$title-color};
  --text-color: #{$text-color};
  --body-color: #{$body-color};
  --container-color: #{$container-color};
}

// ============== BASE ================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px; //Remove scrollbar space.
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #fff;
}

// Body Dark mode theme variables
body {
  font-family: $body-font;
  font-size: $normal-font-size-m;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: overlay;
  &.--dark-theme {
    --title-color: #{$title-color-d};
    --text-color: #{$text-color-d};
    --body-color: #{$body-color-d};
    --container-color: #{$container-color-d};
  }
  @media (min-width: 968px) {
    font-size: $normal-font-size;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--title-color);
}
h1 {
  font-size: $h1-font-size-m;
  @media (min-width: 968px) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size-m;
  @media (min-width: 968px) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-m;
  @media (min-width: 968px) {
    font-size: $h3-font-size;
  }
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  // min-height: 100vh;
  padding-top: $header-height;

  .section__title {
    position: relative;
    text-align: center;
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    @media (min-width: 968px) {
      margin-top: $mb-3;
      margin-bottom: $mb-6;
    }
    h2 {
      display: inline-block;
      color: var(--title-color);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -20%;
        transform: translate(-50%, -50%);
        background-color: $primary-color;
        width: 70%;
        height: 0.2rem;
        z-index: 1;
        border-radius: 30%;
      }
    }
  }
}
footer {
  background-color: var(--container-color);
  text-align: center;
  margin-top: 6rem;
  padding: $mb-6 $mb-1;
  @media (min-width: 968px) {
    margin-top: 15rem;
  }
  i {
    color: var(--text-color);
    transition: 0.3s;
    &:hover {
      color: var(--title-color);
      transform: scale(1.1);
    }
  }
}

//IMPORTING SUB SCSS MODULES
@import "navigation";
@import "home";
@import "about";
@import "projects";
@import "contact";
